
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/LayoutNavbar.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script src="~/Scripts/popper.min.js"></script>

<style>
    body {
        background-color: #B3E5FC;
    }


    .card-1 {
        border: none;
        border-radius: 10px;
        width: 100%;
        background-color: #fff;
    }


    .icons i {
        margin-left: 20px;
    }
</style>
<div class="container mt-5">

    <table class="table table-borderless table-responsive card-1 p-4">
        <thead>
            <tr class="border-bottom">
                <th>
                    <span class="ml-2">Time</span>
                </th>
                <th>
                    <span class="ml-2">Doctoc</span>
                </th>
                <th>
                    <span class="ml-2">Expert</span>
                </th>
                <th>
                    <span class="ml-2">Location</span>
                </th>
                <th>
                    <span class="ml-4">Action</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-bottom">
                <td>
                    <div class="p-2">
                        <span class="d-block font-weight-bold">Tomorrow</span>
                        <small>2:30PM</small>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-row align-items-center mb-2">
                        <img src="https://www.felixhospital.com/sites/default/files/2022-11/dr-dk-gupta.jpg" width="40" class="rounded-circle">
                        <div class="d-flex flex-column ml-2">
                            <span class="d-block font-weight-bold">Tannn Dat</span>
                            <small class="text-muted">Tannn Dat Owner Reality group</small>
                        </div>
                    </div>

                </td>
                <td>
                    <div class="p-2">
                        <span class="font-weight-bold">Eye specialist</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-column">
                        <span>1 City point,#2A</span>
                        <span> Brooklyn,NY</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 icons">
                        <i class="bi bi-telephone-fill text-danger"></i>
                        <i class="bi bi-wrench-adjustable text-danger"></i>
                        <i class="bi bi-share-fill"></i>
                    </div>
                </td>
            </tr>





            <tr class="border-bottom">
                <td>
                    <div class="p-2">
                        <span class="d-block font-weight-bold">Tomorrow</span>
                        <small>3:30PM</small>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-row align-items-center mb-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDHlpt_S8H3f1WqAFxoI1hWnJCRUmJoEVdiA&usqp=CAU" class="rounded-circle" width="40">
                        <div class="d-flex flex-column ml-2">
                            <span class="d-block font-weight-bold">David Smith</span>
                            <small class="text-muted">Jasmine Owner Reality group</small>
                        </div>
                    </div>

                </td>
                <td>
                    <div class="p-2">
                        <span class="font-weight-bold">David Clark</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-column">
                        <span>205 2ndst,#2A,</span>
                        <span> Brooklyn,NY</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 icons">
                        <i class="bi bi-telephone-fill text-danger"></i>
                        <i class="bi bi-wrench-adjustable text-danger"></i>
                        <i class="bi bi-share-fill"></i>
                    </div>
                </td>
            </tr>

            <tr class="border-bottom">
                <td>
                    <div class="p-2">
                        <span class="d-block font-weight-bold">Tomorrow</span>
                        <small>3:30PM</small>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-row align-items-center mb-2">
                        <img src="https://toquoc.mediacdn.vn/280518851207290880/2023/5/21/img4831-1684646883411776691010.jpg" class="rounded-circle" width="40">
                        <div class="d-flex flex-column ml-2">
                            <span class="d-block font-weight-bold">David Smith</span>
                            <small class="text-muted">Jasmine Owner Reality group</small>
                        </div>
                    </div>

                </td>
                <td>
                    <div class="p-2">
                        <span class="font-weight-bold">David Clark</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-column">
                        <span>205 2ndst,#2A,</span>
                        <span> Brooklyn,NY</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 icons">
                        <i class="bi bi-telephone-fill text-danger"></i>
                        <i class="bi bi-wrench-adjustable text-danger"></i>
                        <i class="bi bi-share-fill"></i>
                    </div>
                </td>
            </tr>


            <tr class="border-bottom">
                <td>
                    <div class="p-2">
                        <span class="d-block font-weight-bold">Tomorrow</span>
                        <small>3:30PM</small>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-row align-items-center mb-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGY-pKsqwAWr0Nc6lbpbyrXcFWorzVvAP2UA&usqp=CAU" class="rounded-circle" width="40">
                        <div class="d-flex flex-column ml-2">
                            <span class="d-block font-weight-bold">David Smith</span>
                            <small class="text-muted">Jasmine Owner Reality group</small>
                        </div>
                    </div>

                </td>
                <td>
                    <div class="p-2">
                        <span class="font-weight-bold">David Clark</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-column">
                        <span>205 2ndst,#2A,</span>
                        <span> Brooklyn,NY</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 icons">
                        <i class="bi bi-telephone-fill text-danger"></i>
                        <i class="bi bi-wrench-adjustable text-danger"></i>
                        <i class="bi bi-share-fill"></i>
                    </div>
                </td>
            </tr>




            <tr class="border-bottom">
                <td>
                    <div class="p-2">
                        <span class="d-block font-weight-bold">Tomorrow</span>
                        <small>12:30PM</small>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-row align-items-center mb-2">
                        <img src="https://cdn.tuoitre.vn/thumb_w/730/471584752817336320/2023/5/18/tran-phong-doctor-lof-1-16843921300841609656827.png" class="rounded-circle" width="40">
                        <div class="d-flex flex-column ml-2">
                            <span class="d-block font-weight-bold">Emmily johnson</span>
                            <small class="text-muted">Jasmine Owner Reality group</small>
                        </div>
                    </div>

                </td>
                <td>
                    <div class="p-2">
                        <span class="font-weight-bold">Mary Kingston</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-column">
                        <span>199 Bowery,#7A</span>
                        <span> Brooklyn,NY</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 icons">
                        <i class="bi bi-telephone-fill text-danger"></i>
                        <i class="bi bi-wrench-adjustable text-danger"></i>
                        <i class="bi bi-share-fill"></i>
                    </div>
                </td>
            </tr>






            <tr class="border-bottom">
                <td>
                    <div class="p-2">
                        <span class="d-block font-weight-bold">Tomorrow</span>
                        <small>1:30PM</small>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-row align-items-center mb-2">
                        <img src="https://yt3.googleusercontent.com/ytc/APkrFKYQtHv2GYhbAQkrTRknWk6YVrDLLZk1YovsUcT0Aw=s900-c-k-c0x00ffffff-no-rj" width="40" class="rounded-circle">
                        <div class="d-flex flex-column ml-2">
                            <span class="d-block font-weight-bold">Nick Jones</span>
                            <small class="text-muted">Jasmine Owner Reality group</small>
                        </div>
                    </div>

                </td>
                <td>
                    <div class="p-2">
                        <span class="font-weight-bold">James Smith</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 d-flex flex-column">
                        <span>123 Clinton Ave,#2A</span>
                        <span> Brooklyn,NY</span>
                    </div>
                </td>
                <td>
                    <div class="p-2 icons">
                        <i class="bi bi-telephone-fill text-danger"></i>
                        <i class="bi bi-wrench-adjustable text-danger"></i>
                        <i class="bi bi-share-fill"></i>
                    </div>
                </td>
            </tr>



        </tbody>
    </table>


</div>
