
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/LayoutNavbar.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script src="~/Scripts/popper.min.js"></script>

<style>

    @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

    body {
        background-color: #B3E5FC;
    }

    * {
        padding: 0;
        margin: 0;
    }

    .container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
    }

    .card {
        height: 600px;
        width: 1200px;
        background-color: #fff;
        position: relative;
        box-shadow: 0 15px 30px rgba(0,0,0,0.1);
        position: relative;
        font-family: 'Poppins', sans-serif;
    }

    .form {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .left-side {
        width: 30%;
        background-color: #fff;
        height: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
        /*left-side-start*/
        .left-side .line1 {
            height: 350px;
            width: 100%;
            background-color: #4b66ef;
            position: absolute;
            clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 50% 100%, 0% 50%);
            z-index: 10;
        }

        .left-side .line2 {
            height: 350px;
            width: 440px;
            background-color: #31c8ff;
            position: absolute;
            clip-path: polygon(0 0, 0% 100%, 100% 50%);
            top: 150px;
            z-index: 9;
        }

        .left-side .line3 {
            height: 330px;
            width: 100%;
            background-color: #f0aec5;
            position: absolute;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            z-index: 11;
            bottom: 0;
        }

    .contact-us {
        display: flex;
        justify-content: center;
    }

        .contact-us p {
            z-index: 11;
            writing-mode: vertical-lr;
            text-orientation: mixed;
            transform: rotate(-180deg);
            color: #fff;
            font-size: 25px;
            font-weight: 700;
            position: absolute;
            top: 20px;
            left: 30px;
        }

        .contact-us span {
            position: absolute;
            top: 180px;
            left: 49px;
            height: 80px;
            width: 2px;
            background-color: #fff;
            z-index: 11;
        }

    .left-side .social {
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 55px;
    }

    .social i {
        margin-right: 20px;
        z-index: 12;
        font-size: 23px;
        color: #ff0000;
        transition: all 0.6s;
    }

        .social i:nth-child(1) {
            position: absolute;
            bottom: -90px;
            left: 0;
        }

        .social i:nth-child(2) {
            position: absolute;
            bottom: -90px;
            left: 30px;
            transition-delay: 0.3s;
        }

        .social i:nth-child(3) {
            position: absolute;
            bottom: -90px;
            left: 70px;
            transition-delay: 0.6s;
        }

        .social i:nth-child(4) {
            position: absolute;
            bottom: -90px;
            left: 110px;
            transition-delay: 0.9s;
        }

    .left-side:hover .social i {
        bottom: 0;
    }

    /*left-side-end*/
    .right-side {
        width: 70%;
        background-color: #fff;
        height: 100%;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    /*right-side-start*/
    .top-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
    }

        .top-div h2 {
            font-weight: 800;
            font-size: 25px;
        }

        .top-div p {
            font-size: 13px;
            font-weight: 800;
        }

    .stats {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        margin-top: 30px;
    }

    .stats1 i {
        display: flex;
        justify-content: center;
        font-size: 20px;
        color: #ff6a00;
        transition: all 0.5s;
        transform: scale(0);
    }

    .right-side:hover .stats1 i {
        transform: scale(1.3);
    }


    .stats1 span {
        font-size: 12px;
        font-weight: 600;
    }

    .card-content {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        .card-content span {
            height: 230px;
            width: 300px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 2px 2px 20px 5px #c8d2ff;
            padding: 25px;
            box-sizing: border-box;
        }

    input[type='text'] {
        height: 15px;
        width: 100%;
        border: none;
        border-bottom: 2px solid #c8d2ff;
        outline: 0;
        caret-color: #c8d2ff;
        color: #00AC4F;
        margin-bottom: 20px;
    }

    .input-text {
        position: relative;
    }

        .input-text small {
            position: absolute;
            top: 2px;
            left: 0;
            color: #00AC4F;
            font-weight: 600;
            transition: all 0.5s;
        }

        .input-text input:focus ~ small, .input-text input:valid ~ small {
            top: -15px;
            font-size: 12px;
            color: black;
        }

    .textarea {
        position: relative;
        margin-top: 8px;
        color: #00AC4F;
    }

        .textarea textarea {
            height: 60px;
            width: 100%;
            resize: none;
            border: none;
            outline: none;
            border-bottom: 2px solid #00AC4F;
            caret-color: #00AC4F;
            color: #00AC4F;
        }

        .textarea small {
            position: absolute;
            top: -2px;
            left: 0;
            transition: all 0.5s;
            font-weight: 600;
        }

        .textarea textarea:focus ~ small, .textarea textarea:valid ~ small {
            top: -20px;
            font-size: 12px;
            color: black;
        }

    .buttons {
        display: flex;
        justify-content: center;
        position: relative;
    }

        .buttons button {
            height: 40px;
            width: 150px;
            position: absolute;
            bottom: -140px;
            color: white;
            background-color: #4b6fef;
            border-radius: 8px;
            transition: all 0.5s;
            cursor: pointer;
            border: none;
        }

            .buttons button:hover {
                background-color: blue;
            }

    .right-side:hover button {
        position: absolute;
        bottom: -20px;
    }

    /*right-side-end*/
    @@media (max-width:750px) {
        .container .card {
            max-width: 350px;
        }

            .container .card .right-side {
                display: none;
            }

            .container .card .left-side {
                width: 100%;
            }

        .left-side .social {
            display: flex;
            left: 30%;
            /*transform:translate(-50%,50%);*/
            position: absolute;
            bottom: 20px;
            /*left:55px;*/
        }
    }
</style>
<div class="container">
    <div class="card">
        <div class="form">
            <div class="left-side">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
                <div class="contact-us">
                    <p>Contact Us</p>
                    <span></span>
                </div>
                <div class="social">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-dribbble"></i>
                </div>
            </div>
            <div class="right-side">
                <div class="top-div">
                    <h1>Get in touch !</h1>
                    <p>Contact us for a quote,help or to join the team. </p>
                </div>
                <div class="stats">
                    <div class="stats1">
                        <i class="bi bi-globe-americas"></i>
                        <span>102 Trần Văn Ơn<br>2714 Thủ Dầu Một</span>
                    </div>
                    <div class="stats1">
                        <i class="bi bi-phone"></i>
                        <span>+058 79446 58</span>
                    </div>
                    <div class="stats1">
                        <i class="bi bi-envelope"></i>
                        <span>TanDat@Professtional</span>
                    </div>
                </div>
                <div class="card-content">
                    <span>
                        <div class="input-text">
                            <input type="text" required="required">
                            <small>Name</small>
                        </div>
                        <div class="input-text">
                            <input type="text" required="required">
                            <small>E-mail</small>
                        </div>
                        <div class="textarea">
                            <textarea required="required"></textarea>
                            <small>Message</small>
                        </div>


                    </span>
                </div>
                <div class="buttons">
                    <button>SEND</button>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col col-md-12 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.7726638930376!2d106.67289931070428!3d10.98052468913583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1085e2b1c37%3A0x73bfa5616464d0ee!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBUaOG7pyBE4bqndSBN4buZdA!5e0!3m2!1svi!2s!4v1698629469881!5m2!1svi!2s"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
</div>
