
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    #Card .social_icons_rounded {
        background-color: forestgreen;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: 0 35% 0 25%
    }

    #Card h4 {
        font-weight: bold;
        color: #00AC4F;
        margin: 5% 0 8% 0
    }

    #Card .icon {
        font-size: 90px;
        margin: 15%;
        color: aliceblue
    }

    #Card p {
        margin: 1% 10% 0 5%
    }

    #Card .social_icons_rounded:hover {
        background-color: lawngreen;
    }
</style>

<div>
    <h2 class="text-center" style="font-weight:bold; color:#00AC4F">CHÀO MỪNG ĐẾN VỚI HỆ THỐNG BỆNH VIỆN MẮT SÀI GÒN</h2>
    <hr style="width: 5%; border: 3px solid #007810; border-radius: 5px; margin: 2% 50% 0 45%; " />

    <div id="Card" class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
                <div class="card-body text-center">
                    <div class="social_icons_rounded"><i class="fa fa-user-md icon"></i> </div>
                    <h4>BÁC SĨ KINH NGHIỆM</h4>
                    <p>Đội ngũ bác sĩ là các chuyên gia nhãn khoa với nền tảng chuyên môn vững chắc, giàu kinh nghiệm và y đức.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
                <div class="card-body text-center">
                    <div class="social_icons_rounded"><i class="fa fa-stethoscope icon"></i> </div>
                    <h4>CÔNG NGHỆ HIỆN ĐẠI</h4>
                    <p>Hệ thống trang thiết bị y tế hiện đại bấc nhất được nhập khẩu từ các nước Anh, Mỹ, Đức.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
                <div class="card-body text-center">
                    <div class="social_icons_rounded"><i class="fa fa-balance-scale icon"></i> </div>
                    <h4>CHI PHÍ HỢP LÝ</h4>
                    <p>Chi phí khám và điều trị, phẫu thuật minh bạch, rõ ràng cùng nhiều ưu đãi hỗ trợ hấp dẫn.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
                <div class="card-body text-center">
                    <div class="social_icons_rounded"><i class="fa fa-building icon"></i> </div>
                    <h4>HỆ THỐNG RỘNG KHẮP</h4>
                    <p>10 bệnh viện phủ sóng từ Bắc vào Nam, thuận tiện người dân trên khắp cả nước.</p>
                </div>
            </div>
        </div>
    </div>
</div>
