
<style>
    .video-container {
        display: flex;
        justify-content: space-between;
    }

    .video-frame {
        width: 30%;
    }
</style>



<h2 class="text-center" style="font-weight:bold; color:#00AC4F">THƯ VIỆN HÌNH & VIDEOS</h2>
<hr style="width: 5%; border: 3px solid #007810; border-radius: 5px; margin: 2% 50% 0 45%; " />
<hr />
<hr />
<hr />
<div class="video-container">
    <div class="video-frame">
        <iframe width="100%" height="250" src="https://www.youtube.com/embed/xAqruLtUOIA?si=9QWUrQqqjBNiT8Bz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-frame">
        <iframe width="100%" height="250" src="https://www.youtube.com/embed/PIwlM9oJyCo?si=SMXwFw10JBKLeYrV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-frame">
        <iframe width="100%" height="250" src="https://www.youtube.com/embed/kK99NlPe0-0?si=vNZW9tKsoZyRBC9b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>




