
    <style>
        .video-container {
            display: flex;
            justify-content: space-between;
        }

        .video-frame {
            
            width: 30%;
        }
    </style>


       
            <h2 class="text-center text-uppercase " style="color: #00AC4F">THƯ VIỆN HÌNH & VIDEO</h2>
            <hr />
            <hr />
            <hr />
            <div class="video-container">
                <div class="video-frame">
                    <iframe width="100%" height="250" src="https://www.youtube.com/embed/xAqruLtUOIA?si=9QWUrQqqjBNiT8Bz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="video-frame">
                    <iframe width="100%" height="250" src="https://www.youtube.com/embed/PIwlM9oJyCo?si=SMXwFw10JBKLeYrV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="video-frame">
                    <iframe width="100%" height="250" src="https://www.youtube.com/embed/kK99NlPe0-0?si=vNZW9tKsoZyRBC9b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
    
   


